body {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  color: #1f4172;
  font-weight: 600;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #132043;
}

p {
  line-height: 2;
  font-size: 1.3rem;
}

a {
  color: white;
  text-decoration: none;
  padding: 0 5rem;
  font-size: 1.3rem;
}

button {
  margin: 1rem 0;
}

/* NavBar Section */
.nav {
  display: flex;
  justify-content: space-around;
  background: rgb(19, 32, 67);
  background: linear-gradient(
    90deg,
    rgba(19, 32, 67, 1) 68%,
    rgba(255, 255, 255, 1) 68%
  );
  padding-top: 1.3rem;
}

.nav h1 {
  font-size: 2rem;
  font-family: "Sacramento", cursive;
  color: rgb(19, 32, 67);
}

/* Top Section */
.top-section {
  height: 40rem;
  width: 100%;
  text-align: left;
  background: rgb(19, 32, 67);
  background: linear-gradient(
    90deg,
    rgba(19, 32, 67, 1) 68%,
    rgba(255, 255, 255, 1) 68%
  );
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-section a {
  color: white;
  text-decoration: none;
  padding: 0 3rem;
  font-size: 1.3rem;
}

.top-section h3 {
  color: #64ccc5;
}

.img-div {
  border-radius: 100%;
  border: 20px solid rgb(19, 32, 67);
}

.img-div img {
  height: 25rem;
  border-radius: 100%;
  border: 15px solid white;
}

/* Mid Section */
.mid-section {
  margin: 8rem 0;
}

#about {
  width: 50%;
  margin: 10rem auto;
}

.work-exp {
  margin: 8rem 0;
}

.work {
  width: 50%;
  margin: 10rem auto;
  text-align: left;
}
.work-img {
  border-radius: 25%;
  height: 10rem;
  width: 10rem;
  float: left;
  margin-right: 1rem;
}

#contact {
  width: 50%;
  margin: 10rem auto;
}

span a {
  text-decoration: underline;
  color: black;
  font-weight: bold;
  padding: 0;
}

/* Bottom Section */

.bottom-section {
  height: 10rem;
  width: 100%;
  background: rgb(19, 32, 67);
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  background: rgb(19, 32, 67);
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 1rem;
}

/* Mobile Phones Styles */

@media screen and (max-width: 768px) {
  a {
    padding: 0 1rem;
    font-size: 0.8rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
    padding-bottom: 10px;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    line-height: 1.5;
    font-size: 0.9rem;
    text-align: justify;
    margin-top: 1rem;
  }

  /* Top Section */
  .nav {
    padding-top: 0.3rem;
  }

  .nav h1 {
    font-size: 1rem;
  }
  .top-section {
    padding: 0 0.5rem;
    height: 30rem;
  }

  .img-div img {
    height: 10rem;
    border: 5px solid white;
  }
  .img-div {
    border: 10px solid rgb(19, 32, 67);
  }

  /* Mid Section */
  .mid-section {
    margin: 8rem 0;
  }

  #about {
    width: 80%;
    margin: 5rem auto;
  }

  .work-exp {
    margin: 5rem 0;
  }

  .work {
    width: 80%;
    margin: 5rem auto;
    text-align: center;
  }
  .work-img {
    border-radius: 25%;
    height: 7rem;
    width: 7rem;
    float: none;
    margin-bottom: 3rem;
  }

  #contact {
    width: 80%;
    margin: 5rem auto;
  }

  /* Bottom Sextion */
  .copyright {
    font-size: 0.6rem;
    padding-bottom: 0.8rem;
  }
}
